@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempDataSubmit</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <h4>Results from ViewData</h4>
            @Html.Raw(TempData["name"]); <br />
            @Html.Raw(TempData["address"]);<br />
            @Html.Raw(TempData["class"]);<br />
            @Html.Raw(TempData["year"]);
        </div>
    </div>
</body>
</html>
